html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.head {
    text-align: center;
    font-size: smaller;
}

/*  */
/* Gaya untuk icon peringatan */
.alert-icon {
    margin-left: 5px;
    cursor: pointer;
    color: #888;
}

/* Gaya untuk popup box */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    z-index: 9999;
}

.navbar {
    overflow: hidden;
    border-bottom: solid 1px #333;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

.box-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.image-card {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-card:hover {
    transform: scale(1.05);
}

.image-card a {
    text-decoration: none;
    color: #333;
}

.image-card img {
    width: 100%;
    height: auto;
}

.card-text {
    margin-top: 10px;
}

.card-text p {
    font-size: 14px;
}


/* *MODAL */
.modal {
    display: none;
    /* Modal disembunyikan secara default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Konten modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    text-align: center;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Tombol penutup modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Gaya konten modal */
#modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#modal-content h2 {
    margin-top: 10px;
    margin-left: 5px;
    color: #333;
}

/* Pagination */
#pagination-container {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
}

#pagination li:hover {
    background-color: #ddd;
}

#pagination .active {
    background-color: #4CAF50;
    color: white;
}

#pagination .ellipsis {
    margin-right: 5px;
    cursor: default;
}

/* Search Bar */
.search-bar {
    padding: 8px;
    width: 35vh;
    border: solid 1px grey;
    border-radius: 4px;
}

.search-bar::placeholder {
    font-family: 'Plus Jakarta Sans', sans-serif;

}