<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex by Ahnaf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        function getRandomCatImage() {
            $.ajax({
                type: 'GET',
                url: 'https://api.thecatapi.com/v1/images/search',
                success: function(response) {
                    // Mengambil URL gambar kucing dari respons JSON
                    var imageUrl = response[0].url;

                    // Menampilkan gambar kucing di halaman web
                    $('#cat img').attr('src', imageUrl);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching cat image:', error);
                }
            });
        }

        // Panggil fungsi untuk mendapatkan gambar kucing secara acak saat halaman dimuat
        $(document).ready(function() {
            getRandomCatImage();

            // Menambahkan event listener untuk tombol refresh
            $('#refreshButton').click(function() {
                getRandomCatImage();
            });

            // Menambahkan event listener untuk tombol save
            $('#saveButton').click(saveCatImage);
        });

        // Define a function to handle saving the cat image
        function saveCatImage() {
            // Get the source URL of the cat image
            var imageUrl = $('#cat img').attr('src');

            // Open the image in a new tab for saving
            window.open(imageUrl);
        }
    </script>
</head>
<body>
    <header>
        <div class="head">
            <h1>Meow!</h1>
        </div>
    </header>

    <div id="cat" class="cat">
        <div class="cat-list">
            <img src="" alt="">
        </div>
    </div>
    <button class="refresh" id="refreshButton">Refresh</button>
    <button id="saveButton">Save</button>
</body>
</html>
